body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
}
a {
  text-decoration: none;
  color: #fff;
  -moz-transition: color 0.2s 0.02s ease;
  -o-transition: color 0.2s 0.02s ease;
  -webkit-transition: color 0.2s 0.02s ease;
}
a:hover {
  text-decoration: none;
}
.header {
  background-image: url(../img/home.png);
  background-repeat: no-repeat;
  background-position-y: 102%;
}
.header-contacts {
  margin: 100px auto;
  padding: 10px 10px 10px 10px;
  border: 3px solid #fff;
  -webkit-box-shadow: 6px 6px 25px 2px rgba(255, 255, 255, 0.97);
  box-shadow: 6px 6px 25px 2px rgba(255, 255, 255, 0.97);
  text-align: center;
  width: 80%;
  height: 200px;
  color: #fff;
  display: block;
}
.header-contacts .social-tel {
  display: block;
  font-size: 20px;
  padding-bottom: 20px;
}
.header-contacts .social-tel:hover {
  color: #949090;
}
.header-contacts .header-contacts_social {
  display: block;
  font-size: 50px;
}
.header-contacts .header-contacts_social .social-icon_instagram:hover,
.header-contacts .header-contacts_social .social-icon_facebook:hover {
  color: #949090;
}
.slider {
  background-color: #fff;
}
.slider-text {
  padding: 5px 20px 5px 20px;
  border: 3px solid #fff;
  display: block;
  width: 500px;
  margin: 100px auto;
  text-align: center;
  -webkit-box-shadow: 6px 6px 25px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px 2px rgba(0, 0, 0, 0.75);
}
.slider-text h1 {
  font-size: 40px;
}
.slider-text p {
  font-size: 20px;
}
.slider .owl-carousel {
  margin-top: 40px;
}
.gallery {
  background-color: #fff;
  padding-bottom: 100px;
}
.gallery .thumb img {
  -webkit-filter: grayscale(0);
  filter: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
}
.gallery .thumb img:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.gallery .thumb {
  padding: 5px;
}
.gallery .photo {
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.gallery img {
  display: block;
  width: 100%;
  height: 30em;
}
.footer {
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
}
.footer-text {
  /* 		padding: 5px 20px 5px 20px; */
  border: 3px solid #fff;
  display: block;
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  -webkit-box-shadow: 6px 6px 25px 2px rgba(255, 255, 255, 0.97);
  box-shadow: 6px 6px 25px 2px rgba(255, 255, 255, 0.97);
}
.footer-text h1 {
  font-size: 40px;
}
.footer-text p {
  font-size: 20px;
}
.footer .form {
  display: block;
  margin: 0 auto;
  width: 300px;
}
/* Assets */
.image-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.image-wrap.small .background {
  width: 1388px;
  height: 660px;
  position: relative;
}
.image-wrap.small .bulb1 {
  background: url(../img/bulb-1.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  width: 272px;
  height: 412px;
  left: 25%;
  top: 0%;
  z-index: 3;
  animation: pendulum1 10s infinite cubic-bezier(0.31, 0.44, 0.445, 1.65);
  -webkit-animation: pendulum 10s infinite cubic-bezier(0.31, 0.44, 0.445, 1.65);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
.image-wrap.small .bulb2 {
  background: url(../img/bulb-2.1.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  z-index: 1;
  width: 144px;
  height: 418px;
  left: 15%;
  top: 21%;
  z-index: 2;
  animation: pendulum 9s infinite cubic-bezier(0.31, 0.44, 0.445, 1.65);
  -webkit-animation: pendulum 9s infinite cubic-bezier(0.31, 0.44, 0.445, 1.65);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
.image-wrap.small .bulb3 {
  background: url(../img/bulb-3.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  width: 72px;
  height: 309px;
  left: 10%;
  top: 266px;
  z-index: 1;
  animation: pendulum 10s infinite cubic-bezier(0.31, 0.44, 0.445, 1.65);
  -webkit-animation: pendulum 10s infinite cubic-bezier(0.31, 0.44, 0.445, 1.65);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
/* Keyframes */
@-webkit-keyframes pendulum {
  0%,
  100% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  25%,
  75% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
}
pendulum1 0%,
pendulum1 100% {
  -webkit-transform: rotate(0.6deg);
          transform: rotate(0.6deg);
}
pendulum1 25%,
pendulum1 75% {
  -webkit-transform: rotate(-1.2deg);
          transform: rotate(-1.2deg);
}
pendulum1 50% {
  -webkit-transform: rotate(1.2deg);
          transform: rotate(1.2deg);
}
@keyframes pendulum {
  0%,
  100% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  25%,
  75% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
}
pendulum1 0%,
pendulum1 100% {
  -webkit-transform: rotate(0.6deg);
          transform: rotate(0.6deg);
}
pendulum1 25%,
pendulum1 75% {
  -webkit-transform: rotate(-1.2deg);
          transform: rotate(-1.2deg);
}
pendulum1 50% {
  -webkit-transform: rotate(1.2deg);
          transform: rotate(1.2deg);
}
@media (max-width: 575.98px) {
  .header-contacts {
    width: 200px;
    height: 100%;
  }
  .header-contacts h1 {
    font-size: 25px;
    padding-bottom: 20px;
  }
  .header-contacts .social-tel {
    font-size: 12px;
  }
  .header-contacts .social-icon_instagram,
  .header-contacts .social-icon_facebook {
    font-size: 30px;
  }
  .slider-text {
    width: 300px;
  }
  .slider-text h1 {
    font-size: 25px;
  }
  .slider-text p {
    font-size: 15px;
  }
  .gallery .photo {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .gallery img {
    height: 18em;
  }
  .footer-text {
    width: 300px;
  }
  .footer-text h1 {
    font-size: 25px;
  }
  .footer-text p {
    font-size: 15px;
  }
  .footer .form {
    width: 300px;
  }
  .image-wrap.small .bulb1 {
    width: 100px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header-contacts {
    height: 100%;
  }
  .image-wrap.small .bulb1 {
    width: 100px;
  }
  .footer .form {
    width: 500px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header-contacts {
    width: 500px;
    height: 100%;
  }
  .image-wrap.small .bulb1 {
    width: 130px;
  }
  .gallery .photo {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .gallery .photo img {
    height: 15em;
  }
  .footer-text {
    width: 400px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header-contacts {
    width: 500px;
    height: 100%;
  }
}
.gallery .photo {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.gallery .photo img {
  height: 15em;
}
